.git
.gitignore
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/dist
**/.idea
**/.DS_Store
**/*.log

backend/uploads/**
!backend/uploads/.gitkeep
backend/secrets
backend/scripts/*firebase-adminsdk*.json

admin
mobile
docs
deploy/backups

Jenkinsfile
Jenkinsfile.mobile
docker-compose.jenkins.yml
