NODE_ENV=production
PORT=3000

MYSQL_DATABASE=runbonus_stage
MYSQL_USER=runbonus_stage
MYSQL_PASSWORD=change-me-stage
MYSQL_ROOT_PASSWORD=change-me-stage-root

DB_HOST=mysql
DB_PORT=3306
DB_USER=runbonus_stage
DB_PASSWORD=change-me-stage
DB_NAME=runbonus_stage

REDIS_URL=redis://redis:6379

JWT_SECRET=change-me-staging
JWT_ADMIN_SECRET=change-admin-staging
PUBLIC_API_URL=https://api-stage.runbonus.tj

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

IMAGE_TAG=git-local
